# Task 2: Descriptive and Predictive Analysis with Interactive Dashboard

## üìå Objective
The goal of this task is to perform both descriptive and predictive analysis on the provided Superstore Sales dataset and create an **interactive dashboard** using Python visualization libraries such as Plotly.

---

## üìÇ Dataset Details
**Dataset Name:** SuperStore Sales DataSet  
**Format:** .xlsx  
**Columns:**
- Row ID+O6G3A1:R6
- Order ID
- Order Date
- Ship Date
- Ship Mode
- Customer ID
- Customer Name
- Segment
- Country
- City
- State
- Region
- Product ID
- Category
- Sub-Category
- Product Name
- Sales
- Quantity
- Profit
- Returns
- Payment Mode
- ind1
- ind2

---

## üìù Steps Performed

### **1. Data Loading and Cleaning**
- Imported dataset using `pandas`.
- Removed irrelevant columns (`ind1`, `ind2`).
- Converted date columns (`Order Date`, `Ship Date`) to datetime format.
- Handled missing values (if any).

### **2. Descriptive Analysis**
- Summary statistics using `df.describe()`.
- Sales trends over time.
- Top 10 best-selling products.
- Profit by region and category.

### **3. Predictive Analysis**
- Objective: Predict **Sales** based on features such as Quantity, Category, Region, etc.
- Used Linear Regression model from `scikit-learn`.
- Train-Test Split (80%-20%).
- Model evaluation using R¬≤ score and RMSE.

### **4. Interactive Dashboard**
- Created with **Plotly Dash**.
- Visualizations included:
  1. **Sales by Region** (Bar Chart)
  2. **Sales over Time** (Line Chart)
  3. **Profit vs Sales Scatter Plot**
- Enabled cross-filtering: Selecting a region filters the other charts automatically.

---

## üì¶ Dependencies
Install required libraries:
```bash
pip install pandas plotly dash scikit-learn openpyxl

# Task 2: Descriptive + Predictive Analysis + Dashboard
## Superstore Sales Dataset

## Step 1: Import Libraries

In [22]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from dash import Dash, dcc, html, Input, Output
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

## Step 2: Load Dataset

In [25]:
df = pd.read_excel(r"C:\Users\shrut\Descriptive and Predictive Analysis with Interactive Dashboard\SuperStore Sales DataSet (1).xlsx")
df.head()

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN
2,4920,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Technology,Phones,GE 30522EE2,231.98,2,67.2742,NaN,Cards,NaN,NaN
3,3074,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,NaN,Online,NaN,NaN
4,8604,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Technology,Accessories,Imation¬†Clip USB¬†flash drive¬†- 8 GB,30.08,2,-5.2640,NaN,Online,NaN,NaN

## Step 3: Data Cleaning
- Drop irrelevant columns (`ind1`, `ind2`)
- Rename messy column `Row ID+O6G3A1:R6` ‚Üí `Row_ID`
- Convert dates to datetime
- Handle missing values

In [28]:
df.drop(columns=['ind1','ind2'], inplace=True)
df.rename(columns={'Row ID+O6G3A1:R6':'Row_ID'}, inplace=True)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.fillna(0, inplace=True)
df.head()

,Row_ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
0,4918,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,0.0,Online
1,4919,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,0.0,Online
2,4920,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.98,2,67.2742,0.0,Cards
3,3074,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,0.0,Online
4,8604,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Central,TEC-AC-10002217,Technology,Accessories,Imation¬†Clip USB¬†flash drive¬†- 8 GB,30.08,2,-5.2640,0.0,Online

## Step 4: Descriptive Analysis
- Summary statistics
- Top 10 best-selling products
- Profit by Region and Category
- Sales trend over time

In [31]:
# Summary statistics
df.describe()

,Row_ID,Order Date,Ship Date,Sales,Quantity,Profit,Returns
count,5901.000000,5901,5901,5901.000000,5901.000000,5901.000000,5901.000000
mean,5022.422471,2020-02-29 01:53:57.620742144,2020-03-04 00:08:47.097102336,265.345589,3.781901,29.700408,0.048636
min,1.000000,2019-01-01 00:00:00,2019-01-05 00:00:00,0.836000,1.000000,-6599.978000,0.000000
25%,2486.000000,2019-09-11 00:00:00,2019-09-15 00:00:00,71.976000,2.000000,1.795500,0.000000
50%,5091.000000,2020-03-16 00:00:00,2020-03-19 00:00:00,128.648000,3.000000,8.502500,0.000000
75%,7456.000000,2020-09-14 00:00:00,2020-09-16 00:00:00,265.170000,5.000000,28.615000,0.000000
max,9994.000000,2020-12-31 00:00:00,2021-01-05 00:00:00,9099.930000,14.000000,8399.976000,1.000000
std,2877.977184,NaN,NaN,474.260645,2.212917,259.589138,0.215124

In [33]:
# Top 10 best-selling products
top_products = df.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10)
top_products

Product Name
3D Systems Cube Printer, 2nd Generation, Magenta                               14334.890
Canon imageCLASS 2200 Advanced Copier                                          14076.824
Hewlett Packard LaserJet 3310 Copier                                           13837.732
GBC DocuBind TL300 Electric Binding System                                     12890.258
GBC DocuBind P400 Electric Binding System                                      12577.108
Samsung Galaxy Mega 6.3                                                        12370.708
Martin Yale Chadless Opener Electric Letter Opener                             12268.902
HON 5400 Series Task Chairs for Big and Tall                                   11887.562
Global Troy Executive Leather Low-Back Tilter                                  10217.894
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind     9756.524
Name: Sales, dtype: float64

In [35]:
# Profit by Region and Category
profit_region = df.groupby('Region')['Profit'].sum()
profit_category = df.groupby('Category')['Profit'].sum()
print(profit_region)
print(profit_category)

Region
Central    27450.0071
East       53400.4243
South      26551.7163
West       67859.9582
Name: Profit, dtype: float64
Category
Furniture          10006.6112
Office Supplies    74797.2461
Technology         90458.2486
Name: Profit, dtype: float64

In [37]:
# Sales trend over time
sales_time = df.groupby('Order Date')['Sales'].sum()
sales_time.head()

Order Date
2019-01-01      73.940
2019-01-02     405.920
2019-01-03    2095.830
2019-01-04    1069.220
2019-01-05     255.904
Name: Sales, dtype: float64

## Step 5: Predictive Analysis
- Predict Sales using features: Quantity, Category, Region, Segment, Ship Mode, Payment Mode
- Encode categorical variables
- Train-test split
- Linear Regression model
- Evaluate with RMSE and R¬≤ score

In [40]:
# Encode categorical variables
df_encoded = pd.get_dummies(df, columns=['Category','Region','Segment','Ship Mode','Payment Mode'], drop_first=True)

# Features and target
X = df_encoded.drop(columns=['Sales','Order ID','Customer ID','Customer Name','Product ID','Product Name','State','City','Country','Sub-Category','Row_ID','Order Date','Ship Date','Returns'])
y = df_encoded['Sales']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

# Evaluation
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)
print(f"RMSE: {rmse:.2f}, R2 Score: {r2:.2f}")

RMSE: 489.97, R2 Score: 0.23

## Step 6: Interactive Dashboard using Dash
- Sales by Region (Bar Chart)
- Sales over Time (Line Chart)
- Profit vs Sales (Scatter)
- Region Dropdown filters all charts

In [47]:
app = Dash(__name__)

app.layout = html.Div([
    html.H1("Superstore Sales Dashboard"),
    
    # Region Dropdown
    html.Label("Select Region:"),
    dcc.Dropdown(
        id='region-dropdown',
        options=[{'label': r, 'value': r} for r in df['Region'].unique()] + [{'label':'All','value':'All'}],
        value='All',
        multi=False
    ),
    
    # Sales by Region
    dcc.Graph(id='sales-region-bar'),
    
    # Sales over Time
    dcc.Graph(id='sales-time-line'),
    
    # Profit vs Sales Scatter
    dcc.Graph(id='profit-sales-scatter'),
    
    # Top 10 Products
    dcc.Graph(id='top-products-bar')
])

@app.callback(
    [Output('sales-region-bar', 'figure'),
     Output('sales-time-line', 'figure'),
     Output('profit-sales-scatter', 'figure'),
     Output('top-products-bar', 'figure')],
    [Input('region-dropdown', 'value')]
)
def update_charts(selected_region):
    if selected_region == 'All':
        filtered_df = df
    else:
        filtered_df = df[df['Region']==selected_region]
    
    # Sales by Region
    fig1 = px.bar(filtered_df.groupby('Region')['Sales'].sum().reset_index(),
                  x='Region', y='Sales', title='Sales by Region')
    
    # Sales over Time
    sales_time_filtered = filtered_df.groupby('Order Date')['Sales'].sum().reset_index()
    fig2 = px.line(sales_time_filtered, x='Order Date', y='Sales', title='Sales Over Time')
    
    # Profit vs Sales Scatter
    fig3 = px.scatter(filtered_df, x='Sales', y='Profit', color='Category', size='Quantity',
                      title='Profit vs Sales Scatter')
    
    # Top 10 Products
    top_products = filtered_df.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10).reset_index()
    fig4 = px.bar(top_products, x='Product Name', y='Sales', title='Top 10 Best-Selling Products')
    
    return fig1, fig2, fig3, fig4

# Run dashboard (Dash 3.x)
if __name__ == '__main__':
    app.run(debug=True)

In [53]:
from dash import Dash, dcc, html, Input, Output
import pandas as pd
import plotly.express as px

# Load dataset
df = pd.read_excel(r"C:\Users\shrut\Descriptive and Predictive Analysis with Interactive Dashboard\SuperStore Sales DataSet (1).xlsx")
df.drop(columns=['ind1','ind2'], inplace=True)
df.rename(columns={'Row ID+O6G3A1:R6':'Row_ID'}, inplace=True)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.fillna(0, inplace=True)

# Initialize app
app = Dash(__name__)

app.layout = html.Div([
    html.H1("Superstore Sales Dashboard"),
    
    # Region Dropdown
    html.Label("Select Region:"),
    dcc.Dropdown(
        id='region-dropdown',
        options=[{'label': r, 'value': r} for r in df['Region'].unique()] + [{'label':'All','value':'All'}],
        value='All',
        multi=False
    ),
    
    # Charts
    dcc.Graph(id='sales-region-bar'),
    dcc.Graph(id='sales-time-line'),
    dcc.Graph(id='profit-sales-scatter'),
    dcc.Graph(id='top-products-bar'),
    dcc.Graph(id='category-profit-bar'),
    dcc.Graph(id='shipmode-sales-bar')
])

@app.callback(
    [Output('sales-region-bar', 'figure'),
     Output('sales-time-line', 'figure'),
     Output('profit-sales-scatter', 'figure'),
     Output('top-products-bar', 'figure'),
     Output('category-profit-bar', 'figure'),
     Output('shipmode-sales-bar', 'figure')],
    [Input('region-dropdown', 'value')]
)
def update_charts(selected_region):
    if selected_region == 'All':
        filtered_df = df
    else:
        filtered_df = df[df['Region']==selected_region]
    
    # 1Ô∏è‚É£ Sales by Region
    fig1 = px.bar(filtered_df.groupby('Region')['Sales'].sum().reset_index(),
                  x='Region', y='Sales', title='Sales by Region')
    
    # 2Ô∏è‚É£ Sales over Time
    sales_time_filtered = filtered_df.groupby('Order Date')['Sales'].sum().reset_index()
    fig2 = px.line(sales_time_filtered, x='Order Date', y='Sales', title='Sales Over Time')
    
    # 3Ô∏è‚É£ Profit vs Sales Scatter
    fig3 = px.scatter(filtered_df, x='Sales', y='Profit', color='Category', size='Quantity',
                      title='Profit vs Sales Scatter')
    
    # 4Ô∏è‚É£ Top 10 Best-Selling Products
    top_products = filtered_df.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10).reset_index()
    fig4 = px.bar(top_products, x='Product Name', y='Sales', title='Top 10 Best-Selling Products')
    
    # 5Ô∏è‚É£ Category-wise Profit
    category_profit = filtered_df.groupby('Category')['Profit'].sum().reset_index()
    fig5 = px.bar(category_profit, x='Category', y='Profit', title='Category-wise Profit')
    
    # 6Ô∏è‚É£ Ship Mode Analysis (Sales by Ship Mode)
    shipmode_sales = filtered_df.groupby('Ship Mode')['Sales'].sum().reset_index()
    fig6 = px.bar(shipmode_sales, x='Ship Mode', y='Sales', title='Sales by Ship Mode')
    
    return fig1, fig2, fig3, fig4, fig5, fig6

# Run dashboard
if __name__ == '__main__':
    app.run(debug=True)