# CRUD Operations on Sales Dataset

**Author:** [Your Name]  
**Date:** 2025-08-13  

This notebook demonstrates **CRUD (Create, Read, Update, Delete)** operations on a sales dataset using Python and Pandas.  
We will:
1. Create a dataset with 15 sales records.
2. Perform CRUD operations.
3. Save the dataset to a CSV file.

**Libraries Used:**
- pandas (for data manipulation)

---

In [8]:
import pandas as pd

# Step 1: Create Dataset
data = [
    {"SaleID": 1, "Product": "Laptop", "Quantity": 2, "Price": 55000, "Date": "2025-08-01"},
    {"SaleID": 2, "Product": "Mouse", "Quantity": 5, "Price": 500, "Date": "2025-08-02"},
    {"SaleID": 3, "Product": "Keyboard", "Quantity": 3, "Price": 1500, "Date": "2025-08-03"},
    {"SaleID": 4, "Product": "Monitor", "Quantity": 1, "Price": 12000, "Date": "2025-08-04"},
    {"SaleID": 5, "Product": "Printer", "Quantity": 2, "Price": 8000, "Date": "2025-08-05"},
    {"SaleID": 6, "Product": "Tablet", "Quantity": 4, "Price": 20000, "Date": "2025-08-06"},
    {"SaleID": 7, "Product": "Camera", "Quantity": 1, "Price": 45000, "Date": "2025-08-07"},
    {"SaleID": 8, "Product": "Smartphone", "Quantity": 6, "Price": 30000, "Date": "2025-08-08"},
    {"SaleID": 9, "Product": "Speaker", "Quantity": 2, "Price": 3500, "Date": "2025-08-09"},
    {"SaleID": 10, "Product": "Charger", "Quantity": 7, "Price": 800, "Date": "2025-08-10"},
    {"SaleID": 11, "Product": "USB Cable", "Quantity": 10, "Price": 200, "Date": "2025-08-11"},
    {"SaleID": 12, "Product": "External HDD", "Quantity": 2, "Price": 6000, "Date": "2025-08-12"},
    {"SaleID": 13, "Product": "SSD", "Quantity": 3, "Price": 9000, "Date": "2025-08-13"},
    {"SaleID": 14, "Product": "Graphics Card", "Quantity": 1, "Price": 45000, "Date": "2025-08-14"},
    {"SaleID": 15, "Product": "Router", "Quantity": 5, "Price": 2500, "Date": "2025-08-15"}
]

df = pd.DataFrame(data)
df.to_csv("sales.csv", index=False)

print("Initial Dataset:\n", df)

Initial Dataset:
     SaleID        Product  Quantity  Price        Date
0        1         Laptop         2  55000  2025-08-01
1        2          Mouse         5    500  2025-08-02
2        3       Keyboard         3   1500  2025-08-03
3        4        Monitor         1  12000  2025-08-04
4        5        Printer         2   8000  2025-08-05
5        6         Tablet         4  20000  2025-08-06
6        7         Camera         1  45000  2025-08-07
7        8     Smartphone         6  30000  2025-08-08
8        9        Speaker         2   3500  2025-08-09
9       10        Charger         7    800  2025-08-10
10      11      USB Cable        10    200  2025-08-11
11      12   External HDD         2   6000  2025-08-12
12      13            SSD         3   9000  2025-08-13
13      14  Graphics Card         1  45000  2025-08-14
14      15         Router         5   2500  2025-08-15

## CREATE Operation
We will insert a new record into the dataset using `pd.concat()` to append the new row.

In [15]:
# Step 2: CREATE Operation
new_record = {"SaleID": 16, "Product": "Headphones", "Quantity": 3, "Price": 2500, "Date": "2025-08-16"}
df = pd.concat([df, pd.DataFrame([new_record])], ignore_index=True)
print("After CREATE:\n", df)

After CREATE:
     SaleID        Product  Quantity  Price        Date
0        1         Laptop         2  55000  2025-08-01
1        2          Mouse         5    500  2025-08-02
2        3       Keyboard         3   1500  2025-08-03
3        4        Monitor         1  12000  2025-08-04
4        5        Printer         2   8000  2025-08-05
5        6         Tablet         4  20000  2025-08-06
6        7         Camera         1  45000  2025-08-07
7        8     Smartphone         6  30000  2025-08-08
8        9        Speaker         2   3500  2025-08-09
9       10        Charger         7    800  2025-08-10
10      11      USB Cable        10    200  2025-08-11
11      12   External HDD         2   6000  2025-08-12
12      13            SSD         3   9000  2025-08-13
13      14  Graphics Card         1  45000  2025-08-14
14      15         Router         5   2500  2025-08-15
15      16     Headphones         3   2500  2025-08-16
16      16     Headphones         3   2500  2025-08-16
17      16     Headphones         3   2500  2025-08-16

## READ Operation
We will read and display products where `Quantity > 2`.

In [18]:
# Step 3: READ Operation
read_data = df[df["Quantity"] > 2]
print("READ - Products with Quantity > 2:\n", read_data)

READ - Products with Quantity > 2:
     SaleID     Product  Quantity  Price        Date
1        2       Mouse         5    500  2025-08-02
2        3    Keyboard         3   1500  2025-08-03
5        6      Tablet         4  20000  2025-08-06
7        8  Smartphone         6  30000  2025-08-08
9       10     Charger         7    800  2025-08-10
10      11   USB Cable        10    200  2025-08-11
12      13         SSD         3   9000  2025-08-13
14      15      Router         5   2500  2025-08-15
15      16  Headphones         3   2500  2025-08-16
16      16  Headphones         3   2500  2025-08-16
17      16  Headphones         3   2500  2025-08-16

## UPDATE Operation
We will change the price of **Monitor** from 12000 to 13000.

In [26]:
# Step 4: UPDATE Operation
df.loc[df["Product"] == "Monitor", "Price"] = 13000
print("After UPDATE (Monitor Price Changed):\n", df)

After UPDATE (Monitor Price Changed):
     SaleID        Product  Quantity  Price        Date
0        1         Laptop         2  55000  2025-08-01
2        3       Keyboard         3   1500  2025-08-03
3        4        Monitor         1  13000  2025-08-04
4        5        Printer         2   8000  2025-08-05
5        6         Tablet         4  20000  2025-08-06
6        7         Camera         1  45000  2025-08-07
7        8     Smartphone         6  30000  2025-08-08
8        9        Speaker         2   3500  2025-08-09
9       10        Charger         7    800  2025-08-10
10      11      USB Cable        10    200  2025-08-11
11      12   External HDD         2   6000  2025-08-12
12      13            SSD         3   9000  2025-08-13
13      14  Graphics Card         1  45000  2025-08-14
14      15         Router         5   2500  2025-08-15
15      16     Headphones         3   2500  2025-08-16
16      16     Headphones         3   2500  2025-08-16
17      16     Headphones         3   2500  2025-08-16

## DELETE Operation
We will remove all rows where `Product = Mouse`.

In [28]:
# Step 5: DELETE Operation
df = df[df["Product"] != "Mouse"]
print("After DELETE (Mouse Removed):\n", df)

# Save updated dataset
df.to_csv("sales.csv", index=False)

After DELETE (Mouse Removed):
     SaleID        Product  Quantity  Price        Date
0        1         Laptop         2  55000  2025-08-01
2        3       Keyboard         3   1500  2025-08-03
3        4        Monitor         1  13000  2025-08-04
4        5        Printer         2   8000  2025-08-05
5        6         Tablet         4  20000  2025-08-06
6        7         Camera         1  45000  2025-08-07
7        8     Smartphone         6  30000  2025-08-08
8        9        Speaker         2   3500  2025-08-09
9       10        Charger         7    800  2025-08-10
10      11      USB Cable        10    200  2025-08-11
11      12   External HDD         2   6000  2025-08-12
12      13            SSD         3   9000  2025-08-13
13      14  Graphics Card         1  45000  2025-08-14
14      15         Router         5   2500  2025-08-15
15      16     Headphones         3   2500  2025-08-16
16      16     Headphones         3   2500  2025-08-16
17      16     Headphones         3   2500  2025-08-16